# OS specific files
.DS_Store

# Runtime data
/backend/pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Logs
/backend/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
/backend/node_modules
/backend/.pnp
/backend/.pnp.*

# Compiled output
/backend/dist
/backend/build
/frontend/build
/frontend/.next/
/frontend/out/

# Testing
/backend/coverage
/backend/.nyc_output
/frontend/coverage

# Temp directories
/backend/.temp
/backend/.tmp

# dotenv environment variable files
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local
/frontend/.env*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/frontend/.DS_Store
/frontend/*.pem

# Debug files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Verce
/frontend/.vercel

# TypeScript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
